body {
	font-family: 'Hiragino Kaku  Pro', Meiryo, 'MS PGothic', sans-serif;
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 80px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
	color:#444444;
}

footer{
  width: 100%;
  color: lightgray;
  text-align: center;
  padding: 20px 0;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

#footer{
	clear:both;
}

@media screen and (min-width: 481px) {
  header {
		margin: 0 0 0 0;
		padding: 0 10% 0 10%;
		position: relative;
	}
	p {
		padding: 5px 10px 5px 10px;
		margin: 10px 10px 10px 20px;
	}
	h1 {
		font-size: 24px;
		display: block;
		margin: 10px 0 10px 0;
		padding: 0;
		position: relative;
		font-style: bold;
		color: #444444;
		line-height: 1.5em;
		border-bottom: 3px solid #444444;
	}
  h2 {
		font-size: 18px;
		border-left: 10px solid #444444;
		text-indent: 10px;
		margin: 10px 0 10px 0;
	}
	h3 {
		font-size: 14px;
		border-left:10px solid #444444;
		text-indent: 10px;
		margin: 10px 0 10px 10px;
	}
	h4 {
		font-size: 12px;
		border-left:5px solid #444444;
		text-indent: 10px;
		margin: 10px 0 10px 10px;
	}
  article {
		padding: 0 5% 0 5%;
		margin: 0px auto;
		position: relative;
		line-height: 1.5em;
	}
}

@media screen and (max-width: 480px) {
  header {
		margin: 0 0 0 0;
		padding: 0 5px 0 5px;
		position: relative;
	}
	h1 {
		font-size: 24px;
		padding: 0;
		position: relative;
		font-style: bold;
		color: #444444;
		line-height: 1.5em;
		border-bottom: 3px solid #444444;
	}
  h2 {
		font-size: 18px;
		border-left: 10px solid #444444;
		text-indent: 10px;
		margin: 10px 0 10px 0;
	}
	h3 {
		font-size: 14px;
		border-left: 10px solid #444444;
		text-indent: 10px;
		margin: 10px 0 10px 0;
	}
	h4 {
		font-size: 12px;
		border-left: 5px solid #444444;
		text-indent: 10px;
		margin: 10px 0 10px 0;
	}
  article {
		padding: 0px;
		margin: 0px;
		position: relative;
		line-height: 1.5em;
	}
}

.required {
	font-size:0.5em;
	font-weight: bold;
	margin-left: 1em;
	float: right;
	color: red;
}

div.waitScreen {
	display: table;
	 width: 100%;
	 height: 100%;
	 position: fixed;
	 top: 0;
	 left: 0;
	 background-color: #fff;
	 opacity: 0.8;
 }
 
 div.waitIcon {
	display: block;
	margin: 30% auto;
	padding: 0;
	position: relative;
	text-align:center;
	border: 12px solid #FFFFFF00;
	border-radius: 50%;
	border-top: 12px solid lightskyblue;
	width: 100px;
	height: 100px;
	animation: spin 1s linear infinite;
}
 
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}
 
input:invalid,select:invalid,textarea:invalid {
	border: 1px pink solid;
	background-color: mistyrose;
}
button.primary {
	color: white;
  background-color: #76a4f4;
}
button.primary:hover {
  background-color: #5f97f8;
}

.guide-table {
	width:100%;
	border-spacing: 0px;
	 tr:first-child th {
		border-top:1px solid black;
	 }
	 tr:first-child th:first-child {
		border-left:1px solid black;
	 }
	 th {
		top:0;
		position: sticky;
		background-color: #C9DAF8;
		color: #444444;
		font-weight: normal;
		text-align:left;
		border-bottom:1px solid black;
		border-right:1px solid black;
		padding: 16px 12px;
	 }
	tbody {
	 td:first-child {
		border-left:1px solid black;
	 }
	 td {
		background-color: #fbfbfb;
		border-bottom:1px solid black;
		border-right:1px solid black;
	 }
	}
}

.guide-list {
	width:100%;
	border-spacing: 0px;
	 tr:first-child th, tr:first-child td {
		border-top:1px solid black;
	 }
	 th:first-child {
		border-left:1px solid black;
	 }
	 th {
		top:0;
		position: sticky;
		background-color: #C9DAF8;
		color: #444444;
		font-weight: normal;
		text-align:left;
		border-bottom:1px solid black;
		border-right:1px solid black;
		padding: 16px 12px;
	 }
	tbody {
	 td:first-child {
		border-left:1px solid black;
	 }
	 td {
		background-color: #fbfbfb;
		border-bottom:1px solid black;
		border-right:1px solid black;
	 }
	}
}
a {
	color:slateblue;
}
a:hover{
	color:salmon;
}
dialog{
	z-index: 1000;
}